:root {
    --profile-size: 10rem
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    text-align: center;
}

.profile {
    max-width: var(--profile-size);
    max-height: var(--profile-size);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%
}

.subheading {
    margin-top: 0.5rem
}

.subheadingtxt {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0rem
}